<h2 style="text-align: center; padding-top: 2%">New SMS Message</h2>
<div class="col-md-8 col-sm-offset-2" style="text-align: center;"> 

  <p><i>Send a text message to <%= @user.user_name%>'s phone. They will only see your user name (your phone number is private) so let them know the best way to contact you!</i></p>

      <%= form_tag "/users/#{@user.id}/messages", method: :post do %>

        <div style="padding: 8%" class="form-group">
          <%= label_tag :message_body_2, "Message"%>
          <%= text_field_tag :message_body_2, "Let's chat! Find me on facebook - #{@user.facebook}", size: "80x1"%>
        </div>

        <div><%= button_tag class: "btn-special btn-grey" do %>
          <a href="#"><strong><i class="fa fa-envelope"></i> Send</strong></a>
        <% end %>
      <% end %>
      </div>

</div>
