<%= form_tag url="/users/#{@user.id}/neighborhoods", method: :post do %>
<div class="field">
  <%= label_tag :neighboorhoods %><br />
  <%= collection_check_boxes(:neighborhood, :id, Neighborhood.all, :id, :name) do |b| %>
     <%= b.label(:"data-value" => b.value) { b.check_box + " " + b.text } %> 
     <%= hidden_field_tag :user_id, @user.id %>
  <% end %>
</div>
<%= submit_tag "submit"%>
<%end%>