<h2 style="text-align: center; padding-top: 2%">Update Information</h2>
<div class="col-md-8 col-sm-offset-2"> 
    <div class="neighborhood-style">
      <%= form_tag "/users/#{@user.id}", method: :patch do %>

        <div class="form-group">
          <h5>Your Gender:</h5>
            <%= radio_button_tag(:gender, "female", @user.gender == "female")%> Female
            <%= radio_button_tag(:gender, "male", @user.gender == "male")%> Male
        </div>


        <div class="form-group">
          <h5>Roommate Preference: </h5>
          <%= radio_button_tag(:gender_pref, "female", @user.gender_pref == "female")%> Female
          <%= radio_button_tag(:gender_pref, "male", @user.gender_pref == "male")%> Male
          <%= radio_button_tag(:gender_pref, "any", @user.gender_pref == "any")%> Any
        </div>

         <div class="form-group">
          <h5>Do You have pets?</h5>
          <%= radio_button_tag(:has_pets, true, @user.has_pets == true) %> Yes
          <%= radio_button_tag(:has_pets, false, @user.has_pets == false) %> No
        </div>

        <div class="form-group">
          <h5>Is it fine if your roommate has pets?</h5>
          <%= radio_button_tag(:pets, true, @user.pets == true)%> Yes
          <%= radio_button_tag(:pets, false, @user.pets == false)%> No
        </div>

        <div class="form-group">
          <%= label_tag :age, "Your Age" %>
          <%= text_field_tag :age, @user.age %>
        </div>

        <div class="form-group">
          <%= label_tag :age, "Seeking roommates between the ages of:"%>
          <br>
          <%= text_field_tag :min_age, @user.min_age %> and <%= text_field_tag :max_age, @user.max_age%>
        </div>

        <div class="form-group">
          <%= label_tag :min_price, "Minimum price for your share of rent:"%><%= text_field_tag :min_price, @user.min_price%>
        </div>

        <div class="form-group">
          <%= label_tag :max_price, "Maximum price for your share of rent:"%><%= text_field_tag :max_price, @user.max_price%>
        </div>

        <div class="form-group">
          <%= label_tag :min_roommates, "Minimum # of roommates"  %>
          <%= text_field_tag :min_roommates, @user.min_roommates %>
        </div>

        <div class="form-group">
          <%= label_tag :max_roommates, "Maximum # of roommates" %>
          <%= text_field_tag :max_roommates, @user.max_roommates %>
        </div>

        <div class="form-group">
          <%= label_tag :facebook, "facebook url"%>
          <%= text_field_tag :facebook, @user.facebook%>
        </div>

        <div class="form-group">
          <%= label_tag :twitter, "twitter handle"%>
          <%= text_field_tag :twitter, @user.twitter%>
        </div>

        <div class="form-group">
          <%= label_tag :google_plus, "google+ email"%>
          <%= text_field_tag :google_plus, @user.google_plus%>
        </div>

        <div class="form-group">
          <%= label_tag :linkedin, "linkedIn Url"%>
          <%= text_field_tag :linkedin, @user.linkedin%>
        </div>
    </div>
        <div class="form-group">
          <%= label_tag :bio %>
          <%= text_area_tag :bio, @user.bio, size: "55x8", class: "form-control bio-text"%>
        </div>

    <p style="text-align: center; padding-top: 2%;"><%= submit_tag "Submit", class: "btn btn-default" %></p>
    <%end%>
</div>