<h1>Update Information</h1>
<%=form_tag "/users/#{@user.id}", method: :patch do%>
  <div>
    <%= label_tag :age  %>
    <%= text_field_tag :age, @user.age %>
  </div>
  <div>
    <%= label_tag :min_age  %>
    <%= text_field_tag :min_age, @user.min_age %>
  </div>
  <div>
    <%= label_tag :max_age  %>
    <%= text_field_tag :max_age, @user.max_age %>
  </div>
  <div>
    <%= label_tag :min_price  %>
    <%= text_field_tag :min_price, @user.min_price %>
  </div>
  <div>
    <%= label_tag :max_price  %>
    <%= text_field_tag :max_price, @user.max_price %>
  </div>
  <div>
    <%= label_tag :min_roommates  %>
    <%= text_field_tag :min_roommates, @user.min_roommates %>
  </div>
  <div>
    <%= label_tag :max_roommates  %>
    <%= text_field_tag :max_roommates, @user.max_roommates %>
  </div>

  <div>
    <h5>Your Gender:</h5>
      <%= radio_button_tag(:gender, "female", @user.gender)%>
      <%= label_tag(:gender, "Female") %>
      <%= radio_button_tag(:gender, "male", @user.gender)%>
      <%= label_tag(:gender, "Male") %>
  </div>

  <div>
    <h5>Your Roommates Gender(s):</h5>
    <input type="radio" id="gender_pref_m" name="gender_pref" value="male">Male
    <input type="radio" id="gender_pref_f" name="gender_pref" value="female">Female
    <input type="radio" id="gender_pref_a" name="gender_pref" value="any">Any
  </div>

  <div>
    <h5>Do you have pets?</h5>
    <input type="radio" id="pets_yes" name="has_pets" value="true">Yes
    <input type="radio" id="pets_no" name="has_pets" value="false">No
  </div>

  <div>
    <h5>Is it fine if your roommate has pets?</h5>
    <input type="radio" id="pets_yes" name="pets" value="true">Yes
    <input type="radio" id="pets_no" name="pets" value="false">No
  </div>

  <div>
    <%= label_tag :bio  %>
    <%= text_area_tag :bio, @user.bio%>
  </div>

<%= submit_tag "Submit", class: "btn btn-default" %>
<%end%>