
<!--   <% @users.each do |user|%>
 
    <div class="col-md-8 col-sm-offset-2">  
      <div class="well">
        <a href="/users/<%= user.id %>"> 
        <h3><%= user.user_name %></h3></a>
        <h4>Match Percentage <%= user.match_percent(current_user) %>% </h4>
        <h4>Bio: <%= user.bio %></h4>
        <h4> <%= user.common_neighborhoods(user) %></h4>
         <h4><%= user.add_nh_classes %></h4>
      </div>
    </div> 
   <% end%> -->


   <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                  <!-- <h1 style="text-align:center;">Welcome</h1> -->
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="options">
                           <ul id="filters" class="option-set clearfix" data-option-key="filter">
                              <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                                 <% current_user.neighborhoods.sort_by{|n| n.name}.each do |neighborhood| %>
                                    <li><a href="#filter" data-option-value=".nh<%= neighborhood.id%>"><%= neighborhood.name%></a></li>
                                 <% end %>
                           </ul>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                           <div class="portfolio three-column">
                             



                           
                           <% @users.each do |user|%>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item <%= user.add_nh_classes %>">
                                 <div class="portfolio-item" style="box-shadow:0px 5px 8px #a88888">
                                    <a href="img/users/userpic<%= user.id%>.png" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="fa fa-search"></i></span><img src="img/users/userpic<%= user.id%>.png" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                    <a href="/users/<%= user.id %>">
                                       <%= user.user_name %>
                                       <p>
                                          Match Percentage <b><%= user.match_percent(current_user) %>%</b> 
                                       </p>
                                       <p><%= user.common_neighborhoods(user) %></p>
                                    </a>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                           <% end %>

                           
                    
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Main Content end-->

      <!-- The Scripts -->
   
  

