
          <div id="main">
<!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <!-- Recent work start-->
                        <div class="recentwork_wrapper">
                           <!-- Slider Start-->
                           <div class="post-image">
                              <!-- Slider Start-->
                              <div class=" theme-default">
                                 <div>
                                    <a href="#" style="text-align: center"><img src="/img/users/userpic<%= @user.id%>.png" alt="Nature"></a>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                              <!-- Slider End--> 
                           </div>
                           <h3>Project Title</h3>
                           <div class="post-content top-pad">
                              <p>
                                 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                              </p>
                              <p>
                                 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                              </p>
                           </div>
                        </div>
                        <!-- Recent work end-->
                     </div>
                     <!-- Left Section End -->
                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 sidebar">
                        <div class="widget">
                           <h3 class="title"><%= @user.user_name.titleize %>'s Profile</h3>
                           <p>
                              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                           </p>
                        </div>
                        <!-- Project Description End -->  
                        <div class="widget">
                           <div class="favourite">
                              <a class="btn-special btn-grey" href="#"><strong><i class="fa fa-heart"></i> Add to Favorites</strong></a>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="widget">
                           <div class="member-social dark">
                              <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                              <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                              <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                              <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                              <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <!-- Project Details Start -->
                        <div class="widget project_details">
                           <h3 class="title">Project Details</h3>
                           <div class="details-content"><span><strong>Date</strong><em>18 August 2013</em></span>
                              <span><strong>Categories</strong><em><a href="#">Animation</a><a href="#">HTML5</a><a href="#">jQuery</a><a href="#">Design</a></em></span>
                              <span><strong>Author</strong><em>Monzurul Haque</em></span>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <% if current_user.id == @user.id%>
                        <div class="widget">
                           <a href="#" class="btn-normal btn-color"><i class="fa fa-hand-right icon-large"></i>  Edit Profile</a>
                        </div>
                        <% end %>
                     </div>
                  </div>
                  <div class="divider"></div>
               </div>
            </div>
          </div>


 



<div class="col-sm-6 col-sm-offset-3">

  <h1> <%= @user.user_name.titleize %>'s Profile</h1>
  <h4>Age: <%= @user.age %></h4>
  <h4>Minimum Roommate Age: <%= @user.min_age %></h4>
  <h4>Maximum Roommate Age: <%= @user.max_age %></h4>
  <h4>Lowest Acceptable Rent: <%= @user.min_price %></h4>
  <h4>Highest Acceptable Rent: <%= @user.max_price %></h4>
  <h4>Minimum Roommates: <%= @user.min_roommates %></h4>
  <h4>Maximum Roommates: <%= @user.max_roommates%></h4>
  <h4>Have pets? <%= @user.has_pets %></h4>
  <h4>Are roommates with pets okay? <%= @user.pets %></h4>
  <h4>Gender: <%= @user.gender %></h4>
  <h4>Gender Preferences: <%= @user.gender_pref %></h4>
  <h4>Common Neighborhoods: <%= current_user.common_neighborhoods(@user) %></h4>
  <h3>Bio: <%= @user.bio %></h3>
  <% if current_user.age != nil %>
     <h4>common answers:   <%= @user.answer_keys(current_user) %></h4>
     <h4>age match <%= @user.age_answers(current_user) %></h4>
     <h4>pets match <%= @user.pet_answers(current_user) %></h4>
     <h4># roommates match <%= @user.roommate_answers(current_user) %></h4>
     <h4>price match <%= @user.price_answers(current_user) %></h4>
     <h4>gender match <%= @user.gender_answers(current_user) %></h4>
     <h4>neighborhood match <%= @user.neighborhood_answers(current_user) %></h4>
     <h4>Match Percent <%= @user.match_percent(current_user) %>% </h4>
  <% end %>

    
    <% if current_user.id == @user.id%>
      <%= link_to "Edit Profile", "/users/#{@user.id}/edit", class: "btn btn-success" %>
      <%= link_to "Add Neighborhoods", "/users/#{@user.id}/edit/neighborhoods", class: "btn btn-warning" %>
      <div>
        <%= form_tag "/users/#{@user.id}", method: :delete do %>
            <input class="btn btn-danger" type="submit" value="Remove Profile Answers">
        <% end %>
      </div>
    <% end %>


</div>



         <!-- The Scripts -->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.js"></script>
      <script src="/js/jquery.parallax.js"></script>
      <script src="/js/jquery.wait.js"></script> 
      <script src="/js/modernizr-2.6.2.min.js"></script> 
      <script src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
      <script src="/js/jquery.nivo.slider.pack.js"></script>
      <script src="/js/jquery.prettyPhoto.js"></script>
      <script src="/js/superfish.js"></script>
      <script src="/js/tweetMachine.js"></script>
      <script src="/js/tytabs.js"></script>
      <script src="/js/jquery.sticky.js"></script>
      <script src="/js/jflickrfeed.js"></script>
      <script src="/js/imagesloaded.pkgd.min.js"></script>
      <script src="/js/waypoints.min.js"></script>
      <script src="/js/jquery.gmap.min.js"></script>>
      <script src="/js/spectrum.js"></script>
      <script src="/js/switcher.js"></script>
      <script src="/js/custom.js"></script>
   </body>