<h1>Profile Information</h1>

<h2>User Name: <%= @user.user_name %></h2>
<h4>Age: <%= @user.age %></h4>
<h4>Minimum Roommate Age: <%= @user.min_age %></h4>
<h4>Maximum Roommate Age: <%= @user.max_age %></h4>
<h4>Lowest Acceptable Rent: <%= @user.min_price %></h4>
<h4>Highest Acceptable Rent: <%= @user.max_price %></h4>
<h4>Minimum Roommates: <%= @user.min_roommates %></h4>
<h4>Maximum Roommates: <%= @user.max_roommates%></h4>
<h4>Have pets? <%= @user.has_pets %></h4>
<h4>Are roommates with pets okay? <%= @user.pets %></h4>
<h4>Gender: <%= @user.gender %></h4>
<h4>Gender Preferences: <%= @user.gender_pref %></h4>
<h3>Bio: <%= @user.bio %></h3>
