<div class="col-sm-6 col-sm-offset-3">

  <h1> <%= @user.user_name.titleize %>'s Profile</h1>
  <h4>Age: <%= @user.age %></h4>
  <h4>Minimum Roommate Age: <%= @user.min_age %></h4>
  <h4>Maximum Roommate Age: <%= @user.max_age %></h4>
  <h4>Lowest Acceptable Rent: <%= @user.min_price %></h4>
  <h4>Highest Acceptable Rent: <%= @user.max_price %></h4>
  <h4>Minimum Roommates: <%= @user.min_roommates %></h4>
  <h4>Maximum Roommates: <%= @user.max_roommates%></h4>
  <h4>Have pets? <%= @user.has_pets %></h4>
  <h4>Are roommates with pets okay? <%= @user.pets %></h4>
  <h4>Gender: <%= @user.gender %></h4>
  <h4>Gender Preferences: <%= @user.gender_pref %></h4>
  <h4>Common Neighborhoods: <%= current_user.common_neighborhoods(@user) %></h4>
  <h3>Bio: <%= @user.bio %></h3>
  <% if current_user.age != nil %>
     <h4>common answers:   <%= @user.answer_keys(@user, current_user) %></h4>
     <h4>age match <%= @user.age_answers(@user, current_user) %></h4>
     <h4>pets match <%= @user.pets_answers(@user, current_user) %></h4>
     <h4># roommates match <%= @user.roommate_answers(@user, current_user) %></h4>
     <h4>price match <%= @user.price_answers(@user, current_user) %></h4>
     <h4>gender match <%= @user.gender_answers(@user, current_user) %></h4>
     <h4>Match Percentage <%= @user.match_all(@user, current_user).to_i %>% </h4>
  <% end %>

    
    <% if current_user.id == @user.id%>
      <%= link_to "Edit Profile", "/users/#{@user.id}/edit", class: "btn btn-success" %>
      <%= link_to "Add Neighborhoods", "/users/#{@user.id}/edit/neighborhoods", class: "btn btn-warning" %>
      <div>
        <%= form_tag "/users/#{@user.id}", method: :delete do %>
            <input class="btn btn-danger" type="submit" value="Remove Profile Answers">
        <% end %>
      </div>
    <% end %>


</div>






