<div class="col-sm-6 col-sm-offset-3">
  <h1>Profile Information</h1>

  <h2>User Name: <%= @user.user_name %></h2>
  <h4>Age: <%= @user.age %></h4>
  <h4>Minimum Roommate Age: <%= @user.min_age %></h4>
  <h4>Maximum Roommate Age: <%= @user.max_age %></h4>
  <h4>Lowest Acceptable Rent: <%= @user.min_price %></h4>
  <h4>Highest Acceptable Rent: <%= @user.max_price %></h4>
  <h4>Minimum Roommates: <%= @user.min_roommates %></h4>
  <h4>Maximum Roommates: <%= @user.max_roommates%></h4>
  <h4>Have pets? <%= @user.has_pets %></h4>
  <h4>Are roommates with pets okay? <%= @user.pets %></h4>
  <h4>Gender: <%= @user.gender %></h4>
  <h4>Gender Preferences: <%= @user.gender_pref %></h4>
  <h3>Bio: <%= @user.bio %></h3>


    
    <% if current_user.id == @user.id%>
      <%= link_to "Edit Profile", "/users/#{@user.id}/edit", class: "btn btn-success" %>
      <%= link_to "Add Neighborhoods", "/users/#{@user.id}/edit/neighborhoods", class: "btn btn-warning" %>
      <div>
        <%= form_tag "/users/#{@user.id}", method: :delete do %>
            <input class="btn btn-danger" type="submit" value="Remove Profile Answers">
        <% end %>
      </div>
    <% end %>


</div>






