<!DOCTYPE html>
<html>
<head>
  <title>RoommateApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Library CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/css/animations.css" media="screen">
  <link rel="stylesheet" href="/css/superfish.css" media="screen">
  <link rel="stylesheet" href="/css/revolution-slider/css/settings.css" media="screen">
  <link rel="stylesheet" href="/css/prettyPhoto.css" media="screen">
  <!-- Theme CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Skin -->
  <link rel="stylesheet" href="/css/colors/blue.css" class="colors">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/css/theme-responsive.css">
  <!-- Switcher CSS -->
  <link href="/css/switcher.css" rel="stylesheet">
  <link href="/css/spectrum.css" rel="stylesheet">
</head>

<body class="page">



  <div class="wrap">
   <!-- Header Start -->
   <header id="header">

    <!-- Main Header Start -->
    <div class="main-header">
     <div class="container">
      <!-- TopNav Start -->
      <div class="topnav navbar-header">
       <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
         <i class="fa fa-angle-down icon-current"></i>
       </a> 
     </div>
     <!-- TopNav End -->
     <!-- Logo Start -->
     <div class="logo pull-left">
       <h1>
        <a href="/">
          <%= image_tag("roomelogo.svg", width: '125', height: '60', alt: 'logo.png')%>
        </a>
      </h1>
    </div>

    <!-- Logo End -->
    <!-- Mobile Menu Start -->
    <div class="mobile navbar-header">
     <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
       <i class="fa fa-bars fa-2x"></i>
     </a> 
   </div>
   <!-- Mobile Menu End -->

   <!-- Menu Start -->

   <nav class="collapse navbar-collapse menu">
     <ul class="nav navbar-nav sf-menu">

      <!-- search start -->
 <!--<li>
      <form style="padding-top: 15%">
        <%= form_tag "/users", method: :get do %>
          <%= text_field_tag :search_term, nil%>
          <button style="line-height: 28px; padding-right: 1%" input-type="submit">Search</button>
        <% end %>
      </form>
    </li> -->

  <li>
     <a href="/">
       Home
       <span class="sf-sub-indicator">
       </span>
     </a>

  </li>
  <li>
   <a href="#" class="sf-with-ul">
     Sort Matches 
     <span class="sf-sub-indicator">
       <i class="fa fa-angle-down "></i>
     </span>
   </a>
   <ul>
    <li><a href="/users?sort=user_name&sort_order=asc">Name A-Z</a></li>
    <li><a href="/users?sort=user_name&sort_order=desc">Name Z-A</a></li>
    <li>
     <a href="#" class="sf-with-ul"> 
       By Neighborhood
       <span class="sf-sub-indicator pull-right">
         <i class="fa fa-angle-right "></i>
       </span>
     </a>
      <% if current_user %>
        <ul style="overflow: auto !important">
          <% Neighborhood.all.each do |neighborhood| %>
            <% if current_user.neighborhoods.include?(neighborhood) == false %>
            <li><a href="/users?neighborhood=<%= neighborhood.name %>"><%= neighborhood.name %></a></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </li>
  </ul>
  </li>  

  <li>
    <a href="#">
       Apartments
     <span class="sf-sub-indicator">
       <i class="fa fa-angle-down "></i>
     </span>
   </a>
    <ul>
      <li><a href="/maps" class="sf-with-ul">View Map</a></li>
      </li>
    </ul>
  </li>                 

<% if current_user %>
<li>
  <li><a href="#"><%= current_user.user_name if current_user %>
    <span class="sf-sub-indicator">
      <i class="fa fa-angle-down"></i>
    </span>
  </a>
  <ul>
    <li><a href="/users/<%= current_user.id%>">View Profile</a></li>
    <li><a href="/users/<%= current_user.id%>/edit">Edit Profile</a></li>
     <li><a href="/users/<%= current_user.id %>/edit/neighborhoods">Edit Neighborhoods</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</li>
<% else %>
<li>
  <a href="#">
    Log In
    <span class="sf-sub-indicator">
      <i class="fa fa-angle-down"></i>
    </span>
  </a>
  <ul>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
  </ul>
</li>
<% end %>

</ul>
</nav>
<!-- Menu End --> 
</div>
</div>
<!-- Main Header End -->
</header>
<!-- Header End -->  

<div class="container">
  <% flash.each do |name, message| %>
  <div class="alert alert-<%=name%> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= name.upcase %></strong> <%=message%>
  </div>
  <%end%>
</div>

<%= yield %>
</body>
</html>
